.css-1ppcp2l-MuiToolbar-root {
  min-height: 50px !important;
}

.css-xgn4r0-MuiPaper-root-MuiAppBar-root {
  background-color: white !important;
  box-shadow: none !important;
  margin-top: -17px !important;
}

.css-o4hvwd {
  max-width: 1600px !important;
}
